In [107]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
obj = KNeighborsClassifier()

In [108]:
p1 = pd.read_csv('500_Person_Gender_Height_Weight_Index.csv')
p1.shape

(500, 4)

In [109]:
features = p1.iloc[:, 1:3]

In [110]:
p1

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [111]:
'''Gender : Male / Female

Height : Number (cm)

Weight : Number (Kg)

Index :

0 - Extremely Weak

1 - Weak

2 - Normal

3 - Overweight

4 - Obesity

5 - Extreme Obesity

'''

'Gender : Male / Female\n\nHeight : Number (cm)\n\nWeight : Number (Kg)\n\nIndex :\n\n0 - Extremely Weak\n\n1 - Weak\n\n2 - Normal\n\n3 - Overweight\n\n4 - Obesity\n\n5 - Extreme Obesity\n\n'

In [112]:

index_name = pd.Series(['Extremely' ,'Weak'',WeakNormal','Overweight','Obesity','ExtremeObesity'])
index_name

0          Extremely
1    Weak,WeakNormal
2         Overweight
3            Obesity
4     ExtremeObesity
dtype: object

In [113]:
male = p1[p1["Gender"] == "Male"]

In [114]:
female = p1[p1["Gender"] == "Female"]

In [115]:
male [male["Index"] == 0]
len(male [male["Index"] == 0])

6

In [116]:
female [female["Index"] == 0]
len(female [female["Index"] == 0])

7

In [117]:
#p1.drop("Index",axis=1, inplace=True)

In [118]:
inputs = p1.iloc[:,:2]
inputs

     Gender  Height
0      Male     174
1      Male     189
2    Female     185
3    Female     195
4      Male     149
5      Male     189
6      Male     147
7      Male     154
8      Male     174
9    Female     169
10     Male     195
11   Female     159
12   Female     192
13     Male     155
14     Male     191
15   Female     153
16   Female     157
17     Male     140
18     Male     144
19     Male     172
20     Male     157
21   Female     153
22   Female     169
23     Male     185
24   Female     172
25   Female     151
26     Male     190
27     Male     187
28   Female     163
29     Male     179
..      ...     ...
470    Male     147
471    Male     154
472  Female     178
473    Male     195
474  Female     167
475    Male     183
476  Female     164
477    Male     167
478  Female     151
479  Female     147
480  Female     155
481  Female     172
482  Female     142
483    Male     146
484  Female     188
485    Male     173
486  Female     160
487    Male     187
488    Male     198
489  Female     179
490  Female     164
491  Female     146
492  Female     198
493  Female     170
494    Male     152
495  Female     150
496  Female     184
497  Female     141
498    Male     150
499    Male     173

[500 rows x 2 columns]

In [120]:
targets = p1.iloc[:,3]
targets

0      4
1      2
2      4
3      3
4      3
5      3
6      5
7      5
8      3
9      4
10     2
11     4
12     3
13     2
14     2
15     5
16     5
17     5
18     5
19     5
20     5
21     5
22     4
23     5
24     2
25     3
26     3
27     1
28     5
29     5
      ..
470    5
471    5
472    2
473    5
474    3
475    4
476    5
477    2
478    2
479    5
480    5
481    4
482    5
483    4
484    4
485    4
486    5
487    2
488    4
489    5
490    2
491    5
492    0
493    1
494    5
495    5
496    4
497    5
498    5
499    5
Name: Index, dtype: int64

In [ ]:
obj.predict()